<header>
  <h1>Andres cely</h1>
  <p>Desarrollador Web</p>
</header>

<section id="about">
  <article>
    <h2>Sobre Mí</h2>
    <p>
      Estudiante de Tecnólogo en análisis y desarrollo de Software, estudiante
      de inglés, y un bootcamp en Desarrollo Full Stack con java, JavaScript
      (TypeScript) con Spring Boot para el Backend y Angular para el FrontEnd
      HTML5, CSS. Soy una persona a la que le gusta estudiar, aprender para
      resolver problemas tanto individuales como en equipo y así poder lograr
      conseguir objetivos tanto personales como grupales ya que tengo una buena
      capacidad de comunicación efectiva y buena adaptabilidad.
    </p>
  </article>
</section>

<section id="skills">
  <article>
    <h2>Habilidades</h2>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JavaScript</li>
      <li>Java</li>
    </ul>
  </article>
</section>

<section id="portfolio">
  <article>
    <h2>Portafolio</h2>
  </article>
</section>

<section id="contact">
  <article>
    <h2>Contacto</h2>
    <p>Puedes contactarme en: andresestebancelygmail.com</p>
  </article>
</section>

<footer>
  <p>&copy; 2024 Mi Landing Page</p>
</footer>
